* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.popup {
  border-radius: 5px;
  background-color: #333;
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  animation: show-popup 1s forwards;
}

.popup input[type="text"] {
  margin-bottom: 10px;
}

#submit {
  margin-top: 10px;
}

.submitted {
  animation: remove-popup 1s forwards;
}

@keyframes show-popup {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes remove-popup {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(-200%);
  }
}